/* styles.css */
body {
    background: linear-gradient(to top, #060A0D, #0E3D59, #123C73); /* Gradiente de fundo */
    color: #ffffff; /* Cor do texto branca */
    font-family: 'Arial', sans-serif; /* Fonte padrão */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden; /* Para evitar barra de rolagem */
    position: relative;
}

/* Remover estrelas do fundo */
body::before {
    display: none;
}

/* Estilos para o contêiner principal */
.container {
    text-align: center; /* Centralizar conteúdo */
    background-color: #1e1e1e; /* Um tom de azul escuro um pouco mais claro para contraste */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 500px; /* Para limitar a largura do contêiner */
    width: 100%;
    position: relative;
    z-index: 2; /* Para estar acima do fundo de estrelas */
}

/* Estilo do título */
h1 {
    color: #d32f2f; /* Vermelho para o título */
    font-size: 2.5rem;
    text-align: center; /* Alinhado ao centro */
    margin: 0;
}

/* Estilo dos parágrafos */
p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

/* Estilo do botão "Entre na Comunidade" */
.join-button {
    background-color: #d32f2f; /* Vermelho para o botão */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    position: relative;
    z-index: 2;
}

.join-button:hover {
    background-color: #c62828; /* Tom mais escuro de vermelho no hover */
}

/* Estilo para a imagem no canto inferior direito */
.image-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.image-container img {
    width: 100px; /* Ajuste o tamanho conforme necessário */
}
